sample/sample4node/constant.json
[
    {
        "id": "685a9596b79ec6fd",
        "type": "Constant",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "C": "1",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "ed7737ba2938e410"
            ]
        ]
    },
    {
        "id": "faeacfb82bdae946",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "685a9596b79ec6fd"
            ]
        ]
    },
    {
        "id": "ed7737ba2938e410",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 700,
        "wires": []
    }
]