sample/sample4node/function_code.json
[
    {
        "id": "86515d94d188ac0b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "4e80e233da5ee090"
            ]
        ]
    },
    {
        "id": "ae05dc655ac6b791",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "4e80e233da5ee090",
        "type": "function-Code",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "data = msg \nmsg = \"hello world\"\nreturn msg",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "ae05dc655ac6b791"
            ]
        ]
    }
]