sample/sample4node/parameter.json
[
    {
        "id": "7a831a0447709976",
        "type": "Parameter-Set",
        "z": "f6f2187d.f17ca8",
        "data_type": "0",
        "para": "qwe",
        "type4array": "",
        "value4array": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "983d48865641f4d5"
            ]
        ]
    },
    {
        "id": "286b380cf0f5b7ca",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "7a831a0447709976"
            ]
        ]
    },
    {
        "id": "983d48865641f4d5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    }
]