sample/sample4node/switch.json
[
    {
        "id": "d25f9f7f5c6cbe1f",
        "type": "switch",
        "z": "4fdf280afb71ad75",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hellow world",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "15745d3c634ae022"
            ]
        ]
    },
    {
        "id": "15745d3c634ae022",
        "type": "debug",
        "z": "4fdf280afb71ad75",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b3e27df4ee3534b",
        "type": "inject",
        "z": "4fdf280afb71ad75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hellow world",
        "payloadType": "str",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "d25f9f7f5c6cbe1f"
            ]
        ]
    }
]