sample/button.json
[
    {
        "id": "5aaadcbe41ab4979",
        "type": "Button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "onBoardButton": "0",
        "targetPort": "0",
        "selectPull": "1",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "4776d6a17a4dadde"
            ]
        ]
    },
    {
        "id": "1f502c97fb09e98c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "5aaadcbe41ab4979"
            ]
        ]
    },
    {
        "id": "4776d6a17a4dadde",
        "type": "GPIO",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "targetPort": "00",
        "x": 490,
        "y": 320,
        "wires": []
    }
]