sample/debug.json
[
    {
        "id": "934017e3524b2bdd",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "c591d9e6ba71344e"
            ]
        ]
    },
    {
        "id": "c591d9e6ba71344e",
        "type": "PWM",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "targetPort_PWM": "0",
        "PWM_num": "1",
        "cycle": "",
        "double": "0",
        "time": "",
        "rate": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b25d509b04f9cc0",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c591d9e6ba71344e"
            ]
        ]
    }
]