sample/GPIOReadSample.json
[
    {
        "id": "935a89a7869a387a",
        "type": "GPIO-Read",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "ReadType": "digital_read",
        "GPIOType": "read",
        "targetPort_digital": "0",
        "targetPort_ADC": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "62c2416d5622c935"
            ]
        ]
    },
    {
        "id": "62c2416d5622c935",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "targetPort": "０",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "8d654ae0b42fab98",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "935a89a7869a387a"
            ]
        ]
    }
]