sample/i2c2.json
[
    {
        "id": "66922e20353495eb",
        "type": "I2C",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "ad": "123",
        "rules": [
            {
                "t": "W",
                "v": "1",
                "c": "3",
                "de": "4"
            },
            {
                "t": "R",
                "v": "2",
                "b": "5",
                "de": "6"
            }
        ],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "a4d7de07e1c92f19"
            ]
        ]
    },
    {
        "id": "4dcebf5a98ed2f38",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "66922e20353495eb"
            ]
        ]
    },
    {
        "id": "a4d7de07e1c92f19",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    }
]