sample/pwm.json
[
    {
        "id": "e283765615779883",
        "type": "PWM",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "targetPort_PWM": "12",
        "PWM_num": "1",
        "cycle": "0.00009999999999999999",
        "double": "0",
        "time": "1",
        "rate": "10",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "1a09c2de89a90a6d"
            ]
        ]
    },
    {
        "id": "429ea1649b59e534",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "e283765615779883"
            ]
        ]
    },
    {
        "id": "1a09c2de89a90a6d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 440,
        "wires": []
    }
]