sample/switch2.json
[
    {
        "id": "113921ebdd74222d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "06a981b1363ae516"
            ]
        ]
    },
    {
        "id": "06a981b1363ae516",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "2cf75268168c5636"
            ],
            [
                "cfb593d21660b52c"
            ]
        ]
    },
    {
        "id": "2cf75268168c5636",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "LEDtype": "GPIO",
        "targetPort": "0",
        "onBoardLED": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "cfb593d21660b52c",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "LEDtype": "GPIO",
        "targetPort": "1",
        "onBoardLED": "",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "9288326e5d568f85",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "06a981b1363ae516"
            ]
        ]
    }
]