sample/test.json
[
    {
        "id": "d911d0ee4b7a3d4d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e8c32ffc8889f978"
            ]
        ]
    },
    {
        "id": "97a99168f5aa7444",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8c32ffc8889f978",
        "type": "function-Code",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "data = msg \ndata = data + 1\nreturn data",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "97a99168f5aa7444"
            ]
        ]
    }
]