test_code/flow03.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16e885d7ef12e814",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "fac126da255e801c"
            ]
        ]
    },
    {
        "id": "a93191e7e9a25857",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "fac126da255e801c",
        "type": "Constant",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "C": "1",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "a93191e7e9a25857"
            ]
        ]
    },
    {
        "id": "a3cbbdbb16ec7f87",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "0986e96c98697093"
            ]
        ]
    },
    {
        "id": "0986e96c98697093",
        "type": "Constant",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "C": "2",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "a93191e7e9a25857"
            ]
        ]
    },
    {
        "id": "a50d5a3b47e7df04",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mrubyc-rboard": "1.0.2"
        }
    }
]