sample/LED_chika/onboardLED_chika.json
[
    {
        "id": "5aaf6037da8b39b7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "f04c982cf026a826"
            ]
        ]
    },
    {
        "id": "f04c982cf026a826",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "LEDtype": "onBoardLED",
        "onBoardLED": "1",
        "targetPort": "",
        "targetPort_mode": "0",
        "onBoard_mode": "1",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "575f2a3694aa8f28",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "f04c982cf026a826"
            ]
        ]
    }
]