sample/LED_chika/onboardLED.json
[
    {
        "id": "5aaf6037da8b39b7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "0618969b267b15d9"
            ]
        ]
    },
    {
        "id": "f04c982cf026a826",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "LEDtype": "onBoardLED",
        "onBoardLED": "1",
        "targetPort": "",
        "targetPort_mode": "0",
        "onBoard_mode": "0",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "575f2a3694aa8f28",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "0618969b267b15d9"
            ]
        ]
    },
    {
        "id": "0618969b267b15d9",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "f04c982cf026a826"
            ],
            [
                "0bbd810ec4e59fdb"
            ]
        ]
    },
    {
        "id": "0bbd810ec4e59fdb",
        "type": "LED",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "LEDtype": "onBoardLED",
        "onBoardLED": "2",
        "targetPort": "",
        "targetPort_mode": "0",
        "onBoard_mode": "0",
        "x": 470,
        "y": 820,
        "wires": []
    }
]